<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.calculomedia">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon_media"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".InterfaceADMTI"></activity>
        <activity android:name=".InterfaceAQ"></activity>
        <activity android:name=".InterfaceDSM"></activity>
        <activity android:name=".InterfaceGP"></activity>
        <activity android:name=".InterfacePI4"></activity>
        <activity android:name=".InterfaceTS"></activity>
        <activity android:name=".Resultado"></activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>